body {
    background: #000;
    height: 100%;
    margin: auto;
    position: absolute;
    width: 100%;
}

#metaStuff {
    color: white;
    position: absolute;
    top: 0;
    width: 100%;
}

#panelRoot,
#metaStuff {
    text-align: center;
}

#panelRoot {
    left: 0;
    position: relative;
    top: 30px;
}

.panel {
    float: left;
    margin:0;
    width: 100%;
}

.frame {
    vertical-align: middle;
}

.hidden {
    display:none;
}
