body {
    background: #000;
    height: 100%;
    margin: 0;
    width: 100%;
}

body, option {
    font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
    font-size: 18pt;
}

#controlPanel {
    height: 70px;
    margin: auto;
    position: relative;
    text-align: center;
    width: 720px;
    z-index: 10;
}

#viewerPanel {
    margin: auto;
    position: relative;
    text-align: center;
    top: -70px;
    z-index: 5;
}

.frame {
    vertical-align: middle;
}

.hidden {
    display:none;
}

.controlLabel {
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

fieldset {
    border: none;
    text-align: left;
}
